<%- include ('../../partials/header.ejs')%>
<%- include ('../../partials/navbar.ejs')%>
<br>
<div class="dist">
    <a class="btn btn-info" href="/unidades">Voltar</a>
</div>
<div class="container">
    <div class="card">
        <div class="card-header bg-dark">
            <h2>Atualização de Unidades</h2>
        </div>
        <div class="card-body bg-gray">
            <form method="POST" action="/unidades/update">
                <label>Unidade</label>
                <input class="form-control" type="text" name="unidade" placeholder="Defina o nome da unidade" value="<%= unidade.nome %>"><br>
                
                <input type="hidden" name="id" value="<%= unidade.id %>">
                <button class="btn btn-primary">Atualizar</button>
            </form>
        </div>
    </div>
  </div>
</div>

<%- include ('../../partials/footer.ejs')%>