<%- include ('../../partials/header.ejs')%>
<%- include ('../../partials/navbar.ejs')%>
<br>
<div class="container">
    <div class="card">
        <div class="card-header">
            <h2>Atualização de Produtos</h2>
        </div>
        <div class="card-body">
            <form method="POST" action="/produtos/update">
                <label>Produto</label>
                <input class="form-control" type="text" name="produto" placeholder="Defina o nome do produto" value="<%= produto.produto %>"><br>
                <label>Categoria</label>
                <select id="categoria" name="categoria" class="form-control">
                    <option value="">Selecione uma categoria</option>
                    <option value="papelaria">Papelaria</option>
                    <option value="designer">Designer</option>
                </select><br>
                <label>Valor</label>
                <input class="form-control" type="number" min="1" step="any" name="valor" placeholder="Defina um valor" value="<%= produto.valor%>"><br>
                <label>Custo</label>
                <input class="form-control" type="number" min="1" step="any" name="custo" placeholder="Defina um custo" value="<%= produto.custo%>"><br>
                <label>Unidade</label>
                <select id="unidade" name="unidade" class="form-control">
                    <option value="">Selecione uma unidade</option>
                    <option value="UN">Unidades</option>
                    <option value="KG">Quilos</option>
                    <option value="LT">Litros</option>
                </select><br>
                
                <input type="hidden" name="id" value="<%= produto.id %>">
                <button class="btn btn-primary">Atualizar</button>
            </form>
        </div>
    </div>
</div>

<%- include ('../../partials/footer.ejs')%>