<%- include ('../../partials/header.ejs')%>
<%- include ('../../partials/navbar.ejs')%>

<br>
<div class="dist">
    <a class="btn btn-info" href="/">Voltar</a>
</div>
<div class="container">
    <hr>
    <h2>Usuários</h2>
    <hr>
    <a class="btn btn-success" href="/admin/users/create">Criar novo usuário</a>
    <hr>
    <table class="table table-bordered bg-gray">
        <thead>
            <tr>
                <th>Id</th>
                <th>Login</th>
                <th>Status</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <% users.forEach(user=>{ %>
                <tr>
                    <th><%= user.id %></th>
                    <th><%= user.login %></th>
                    <th>
                        <% if( user.ativo === true){ %>
                            Ativo
                        <% } else{ %>
                            <p>Inativo</p>
                        <% } %>
                    </th>
                    <th>
                        <% if( user.ativo === true){ %>
                            <form method="POST" action="/users/delete" style="display: inline;" onsubmit="confirmarInativacao(event, this)">
                                <input type="hidden" name="id" value="<%= user.id %>">
                                <button class="btn btn-danger">Inativar</button>
                            </form>
                        <% } else{ %>
                            <form method="POST" action="/users/reactivate" style="display: inline;" onsubmit="confirmarAtivacao(event, this)">
                                <input type="hidden" name="id" value="<%= user.id %>">
                                <button class="btn btn-dark">Reativar</button>
                            </form>
                        <% } %>
                    </th>
                </tr>
            <%}) %>
        </tbody>
    </table>
</div>

<%- include ('../../partials/footer.ejs')%>

<script>
    function confirmarInativacao(event, form){
        event.preventDefault();
        var decision = confirm("Você quer inativar o usuário?");
        if(decision){
            form.submit();
        }else{
            console.log("Foi um acidente");
        }
    }

    function confirmarAtivacao(event, form){
        event.preventDefault();
        var decision = confirm("Você quer reativar o usuário?");
        if(decision){
            form.submit();
        }else{
            console.log("Foi um acidente");
        }
    }

</script>