<%- include ('../../partials/header.ejs')%>
<%- include ('../../partials/navbar.ejs')%>
<br>
<div class="container">
    <div class="card">
        <div class="card-header">
            <h2>Atualização de Clientes</h2>
        </div>
        <div class="card-body">
            <form method="POST" action="/clientes/update">
                <input class="form-control" type="text" name="nome" placeholder="Defina o nome do cliente" value="<%= cliente.nome %>"><br>
                <input class="form-control" type="text" name="cpf" placeholder="Preencha com o CPF" value="<%= cliente.cpf %>"><br>
                <input class="form-control" type="text" name="cnpj" placeholder="Preencha com o CNPJ" value="<%= cliente.cnpj %>"><br>
                <input class="form-control" type="tel" name="telefone1" placeholder="Preencha com o telefone 1" value="<%= cliente.telefone1 %>"><br>
                <input class="form-control" type="tel" name="telefone2" placeholder="Preencha com o telefone 2" value="<%= cliente.telefone2 %>"><br>
                <input class="form-control" type="email" name="email" placeholder="Preencha com o e-mail" value="<%= cliente.email %>"><br>
                <input class="form-control" type="text" name="endereco" placeholder="Preencha o endereço" value="<%= cliente.endereco %>"><br>
                <input class="form-control" type="number" name="numero" placeholder="Preencha o número do endereço" value="<%= cliente.numero %>"><br>
                
                <input type="hidden" name="id" value="<%= cliente.id %>">
                <button class="btn btn-primary">Atualizar</button>
            </form>
        </div>
    </div>
</div>

<%- include ('../../partials/footer.ejs')%>