<%- include ('../../partials/header.ejs')%>
<%- include ('../../partials/navbar.ejs')%>
<br>
<br>
<hr>
<div class="container">
    <div class="card">
        <div class="card-header">
            <h2>Editar Orçamento</h2>
        </div>
        <div class="card-body">
            <form method="POST" action="/orcamentos/update">
                <input id="idOrcamento" name="idOrcamento" type="hidden" value="<%= orcamento.id %>">
                <label>Cliente:</label>
                <select name="cliente" class="form-control">
                    <% clientes.forEach((cliente)=>{ %>
                        <%if(cliente.id == orcamento.clienteId) {%>
                            <option value="<%= cliente.id %>" selected><%= cliente.nome %></option>
                        <% } else { %>
                            <option value="<%= cliente.id %>"><%= cliente.nome %></option>
                        <% } %>
                    <% }) %>
                </select><br>
                <label>Tipo:</label>
                <select name="tipo" class="selector form-control" selected>
                    <option value="Compra">Compra</option>
                    <option value="Venda">Venda</option>
                </select><br>
                <label>Forma de Pagamento:</label>
                <select name="formaPagamento" class="selector form-control">
                    <option value="Dinheiro">Dinheiro</option>
                    <option value="Cartão de Credito">Cartão de Credito</option>
                    <option value="Cartão de Debito">Cartão de Debito</option>
                </select><br>
                <button class="btn btn-primary">Atualizar</button>
            </form>
        </div>
    </div>
</div>
