<%- include ('../../partials/header.ejs')%>
<%- include ('../../partials/navbar.ejs')%>

<div class="container" >
    <hr>
    <h2>Orçamento</h2>    
    
    <hr>
    <div style="font-weight: bold;color:black;font-size:15px;">
        <div class="form-group row">
            <label class="col-sm-2 col-form-label labelText">Numero de Controle: </label>
            <div class="col-sm-10">
                <input type="text" readonly style="font-weight: bold;font-size:15px;" class="form-control-plaintext labelText" value="<%= orcamento.id %>">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label labelText">Cliente: </label>
            <div class="col-sm-10">
                <input type="text" readonly style="font-weight: bold;font-size:15px;" class="form-control-plaintext labelText" value="<%= orcamento.cliente.nome %>">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label labelText">Forma de Pagamento: </label>
            <div class="col-sm-10">
                <input type="text" readonly style="font-weight: bold;font-size:15px;" class="form-control-plaintext labelText" value="<%= orcamento.formPagamento %>">
            </div>
        </div>
    </div>
    <hr>
    <h2>Itens do Orçamento</h2>
    <hr>
    <table class="table table-bordered bg-gray" id="orcamento-item">
        <thead>
            <tr>
                <th>Produto</th>
                <th>Quantidade</th>
                <th>Preço Unitario</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            <% orcamentoItens.forEach(orcamentoItem=>{ %>
                <tr>
                    
                    <td><%= orcamentoItem.produto.produto %></td>
                    <td><%= orcamentoItem.quantidade %></td>
                    <td><%= orcamentoItem.valorUnitario %></td>
                    <td><%= orcamentoItem.valorTotal %></td>
                    
                </tr>
            <% }) %>
        </tbody>
    </table>
    <form>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label labelText">Total do Orçamento</label>
            <div class="col-sm-10">
                <input type="text" readonly class="form-control" id="totalOrcamento">
            </div>
        </div>
    </form>
    <hr>
    <div>
        <form method="POST" action="/orcamentos/pdfMail/<%= orcamento.id %>">
            <input id="email" name="email" type="hidden" value="<%= orcamento.cliente.email %>">
            <input id="orcamentoCompleto" name="orcamentoCompleto" type="hidden" value="<%= orcamento.id %>">
            <button class="btn btnBlue">Enviar Orçamento</button>
        </form>
    </div>
    <hr>
</div>

<%- include ('../../partials/footer.ejs')%>


<script>
    function getTotal(column = 1) {
        let result = 0;
        let columns = $("#orcamento-item tr td:nth-child(" + column + ")");

        columns.each(i => {
            result += parseFloat($(columns[i]).html());
        });

        return result;
        
    }
    document.getElementById("totalOrcamento").value = parseFloat(getTotal(4)).toFixed(2);
</script>