<!DOCTYPE html>
<html>
    <head>
        <style>
        table {
            border-collapse: collapse;
        }
        table, th, td {
            border: 1px solid black;
        }
        </style>
    <body>
        <div style="width: 98%; margin: 0 0.2%;">
            <div style="text-align: center; padding-left: 8px;">   
                <div class="container">
                    <img width="250px" height="80px" src="https://i.ibb.co/9p3pjfs/imp.jpg" alt="imp" border="0" />
                </div>
                <h4 style="color: rgb(0, 0, 0);font-size:8px;">Rua Abcdefghijklmnoprstuvwxyz, 000, Bairro - Fortaleza - 00.000.000/0000-00</h4>
                <h4>Telefone: (85) 90000-0000</h4>
               
                <h2 style="background-color: rgb(200, 200, 200);font-size:10px;">Dados do Cliente</h2>

                <div style="font-weight: bold;font-size:8px; text-align:left">
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Número de Controle: </label>
                        <label><%= orcamento.id %></label>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Cliente: </label>
                        <label><%= orcamento.cliente.nome %></label>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Forma de Pagamento: </label>
                        <label><%= orcamento.formPagamento %></label>
                    </div>
                </div>
                <hr>

                <h2 style="background-color: rgb(200, 200, 200);font-size:10px;">Itens do Orçamento</h2>
                
                <table class="table table-bordered" id="orcamento-item" style="width: 98%; margin: 0 0.2%;font-size:8px;">
                    <thead>
                        <tr>
                            <th>Produto</th>
                            <th>Quantidade</th>
                            <th>Preço Unitario</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% orcamentoItens.forEach(orcamentoItem=>{ %>
                            <tr>
                                <td><%= orcamentoItem.produto.produto %></td>
                                <td><%= orcamentoItem.quantidade %></td>
                                <td><%= orcamentoItem.valorUnitario %></td>
                                <td><%= orcamentoItem.valorTotal %></td>                
                            </tr>
                        <% }) %>
                    </tbody>
                </table>
                <br>
                <hr>
                <form>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Total do Orçamento:</label>
                        <label><%= orcamento.valor %></label>
                    </div>
                </form>
                
             </div>
        </div>
    </body>
</html>
