<!DOCTYPE html>
<html>
    <head>
        <style>
        table {
            border-collapse: collapse;
        }
        table, th, td {
            border: 1px solid black;
        }
        </style>
    <body>
        <div style="width: 85%; margin: 0 7.5%;">
            <div style="text-align: center; padding-left: 50px;">   
                <div class="container">
                    <img width="450px" height="150px" src="https://scontent-for1-1.xx.fbcdn.net/v/t31.0-0/p180x540/15975224_1885668728319122_8816774107956823563_o.jpg?_nc_cat=107&_nc_sid=e3f864&_nc_eui2=AeFkJQKVmKPCOkaoG7ZOaR_vJ9MQqT58mFAn0xCpPnyYUGUYfDUmZZ6SSZx9-NibEPpl1NoFM_aEgAHljl6zbG0e&_nc_oc=AQmSmQTFcw5ZVPjFGArFs0uLhoH8GlOKzadphRQi_iBiwFz2K3nN500g2t_oiIGx03s&_nc_ht=scontent-for1-1.xx&_nc_tp=6&oh=9f120bd86faff3fdf2b45cf65c6920f1&oe=5ECD7F77"/>
                </div>
                <h4 style="color: rgb(0, 0, 0);">Rua Abcdefghijklmnoprstuvwxyz, 000, Bairro - Fortaleza - 00.000.000/0000-00</h4>
                <h4>Telefone: (85) 90000-0000</h4>
               
                <h2 style="background-color: rgb(200, 200, 200);">Dados do Cliente</h2>

                <div style="font-weight: bold;font-size:15px; text-align:left">
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Número de Controle: </label>
                        <label><%= orcamento.id %></label>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Cliente: </label>
                        <label><%= orcamento.cliente.nome %></label>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Forma de Pagamento: </label>
                        <label><%= orcamento.formPagamento %></label>
                    </div>
                </div>
                <hr>

                <h2 style="background-color: rgb(200, 200, 200);">Itens do Orçamento</h2>
                
                <table class="table table-bordered" id="orcamento-item" style="width: 85%; margin: 0 7.5%;">
                    <thead>
                        <tr>
                            <th>Produto</th>
                            <th>Quantidade</th>
                            <th>Preço Unitario</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% orcamentoItens.forEach(orcamentoItem=>{ %>
                            <tr>
                                <td><%= orcamentoItem.produto.produto %></td>
                                <td><%= orcamentoItem.quantidade %></td>
                                <td><%= orcamentoItem.valorUnitario %></td>
                                <td><%= orcamentoItem.valorTotal %></td>                
                            </tr>
                        <% }) %>
                    </tbody>
                </table>
                <br>
                <hr>
                <form>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Total do Orçamento:</label>
                        <label><%= orcamento.valor %></label>
                    </div>
                </form>
                
             </div>
        </div>
    </body>
</html>
